.site-header{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	background:#fff;
	.site-branding{
		@media only screen and (max-width: $screen-sm-min - 1) {
		    display:flex;
		    justify-content:space-between;
		    align-items:center;
		}

		.logo{
			max-width:150px;
			img{
				width:100%;
				display:block;
			}
		}
		.mobile-toggle{
			font-size: 25px;
			cursor: pointer;
			// XS Breakpoint
			@include breakpoint($screen-sm-min){
				display:none;
			}
		}
	}
}