// Site Container 
.site{
	@include myoutline(red);
	@include container(100%);
}

// Site Header
.site-header{
	@include myoutline(red);
	padding-top: 12px;
	padding-bottom: 12px;
	overflow:hidden;
	
	.site-branding{
		@include myoutline(blue);
		@include span(12);

		// XS Breakpoint
		@include breakpoint($screen-xs-min){
			@include span(12);
		}
		
		// sm Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(4);
		}

		// md Breakpoint
		@include breakpoint($screen-md-min){
			@include span(3);
		}

	}

	.main-navigation{
		@include myoutline(blue);
		@include span(12);
		clear: none;

		// XS Breakpoint
		@include breakpoint($screen-xs-min){
			@include span(12);
		}

		// sm Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(8);
		}
		
		// md Breakpoint
		@include breakpoint($screen-md-min){
			@include span(9);
		}

	}
}

// Site Content
.site-content{
	&:not(.full-width){
		@include myoutline(red);
		@include container();
		clear: both;

		.content-area{
			@include myoutline(blue);
			@include span(12);

			// SM Breakpoint
			@include breakpoint($screen-sm-min){
				@include span(7);
			}

			// MD Breakpoint
			@include breakpoint($screen-md-min){
				@include span(8);
			}

			// LG Breakpoint
			@include breakpoint($screen-lg-min){
				@include span(9);
			}
		}

		.widget-area{
			@include myoutline(blue);
			@include span(12);

			// SM Breakpoint
			@include breakpoint($screen-sm-min){
				@include span(5);
			}

			// MD Breakpoint
			@include breakpoint($screen-md-min){
				@include span(4);
			}

			// LG Breakpoint
			@include breakpoint($screen-lg-min){
				@include span(3);
			}

		}
	}
}

// Site Footer
.site-footer{
	@include myoutline(red);

	.nav-footer{
		// @include myoutline(red);

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(3);
		}

	}
	
	.blog-feed{
		@include myoutline(red);
		
		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}
	}

	.footer-utility{
		// @include myoutline(red);
		
		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(12);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(3);
		}
	}

	.site-info{
		// @include myoutline(yellow);
		@include span(12);

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}
	}

	.site-longevity{
		// @include myoutline(yellow);
		@include span(12);		

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}
	}

}
